export("samur")

S3method("print", "samur")
S3method("summary", "samur")
S3method("print", "summary.samur")

importFrom("Matching", "MatchBalance")
importFrom("graphics", "hist")
importFrom("stats", ".getXlevels", "model.frame", "na.fail", "predict",
             "quantile")